- error = @post.errors.include?(:content)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :content, :class => 'control-label'
  .controls
    =f.text_field :content, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:content, :class => 'text-error') : pat(:example)
- error = @post.errors.include?(:last_voted)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :last_voted, :class => 'control-label'
  .controls
    =f.text_field :last_voted, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:last_voted, :class => 'text-error') : pat(:example)
- error = @post.errors.include?(:user_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :user_id, :class => 'control-label'
  .controls
    =f.text_field :user_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:user_id, :class => 'text-error') : pat(:example)
- error = @post.errors.include?(:stored_avg)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :stored_avg, :class => 'control-label'
  .controls
    =f.text_field :stored_avg, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:stored_avg, :class => 'text-error') : pat(:example)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :categories_in_short_name, :class => 'control-label'
  .controls
    =f.text_field :categories_in_short_name, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:categories_in_short_name, :class => 'text-error') : pat(:example)
.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:posts, :index), :class => 'btn btn-default'