%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:bombarderos, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:bombarderos, :new)

.tabs-content
  -form_for :bombardero, url(:bombarderos, :create), :class => 'form-horizontal' do |f|
    =partial 'bombarderos/form', :locals => { :f => f }
