.list-group
  .list-group-item.category-heading
    %i.glyphicon.glyphicon-chevron-right
    TAGS
  %a.list-group-item{:href => '/', :class => @category.nil?? "active" : ""}
    :escaped
      #todos
  - Category.all(:order => :order.desc).each do |c|
    %a.list-group-item{:href => "/tags/#{c.name}", :id => c.name, :class => @category == c.name ? "active" : ""}
      ='#' + c.name