.list-group
  .list-group-item.category-heading
    %i.glyphicon.glyphicon-chevron-right
    TAGS
  %div{ :id => 'categories' }
    - Category.get_top(20).shuffle.each do |c|
      %a{:href => "/tags/#{c.name}", :id => c.name, :class => @category == c.name ? "active" : "", :rel => c.mentions}
        = c.name