- form_tag '/create_post', :method => 'post' do
  = text_area_tag :content,  :class => "form-control embossed-light",:rows=>"1", :placeholder => AppHelper.text_for_input_placeholder, :id => "dropit_input" 
  .row.post-bar
    .col-md-7
      %span.text-muted{:id => "dropit_count"} 0
      %input{:type => "hidden", :name => "categories", :id => "categories"}
      %input{:type => "hidden", :name => "location_neighborhood", :id => "location_neighborhood"}
      %input{:type => "hidden", :name => "location_country", :id => "location_country"}
    .col-md-3
      .input-tag
        %select.multiselect{:multiple => "multiple", :id => "dropit_category", :name => "category"}
          - Category.all(:order => :order.desc).each do |c|
            %option{:value => c.short_name, :name => c.short_name}
              = "#" + c.name
    .col-md-2
      %button{:type=>"submit", :class=>"button btn btn-danger btn-create"}
