.list-group
    %input{ :type => 'text', :id => "search-text", :class => 'form-control', :placeholder=>"¿Qué bomba?"}
    %button{ :type => "button",  :class => "btn btn-default btn-sm btn-search"}
        Buscar