- if defined? @tweets
  .row.twitter
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.glyphicon.glyphicon-chevron-right
          EN TWITTER
      .panel-body
        = partial 'tweet', :collection => @tweets
        %div
          %a.twitter-follow-button{:href=>"https://twitter.com/tiralabombaaa", "data-show-count"=>"true", "data-lang"=>"es"}
            Seguir a @tiralabombaaa
- if defined? @bombarderos
  .row.bombardeors
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.glyphicon.glyphicon-chevron-right
          BOMBARDEROS
      .panel-body
        = partial 'bombartweet', :collection => @bombarderos