.col-md-8
  %div.row.central-row
    %h2.text-muted
      Archivo
  %div.row.central-row
    %div.jumbotron.post-background
      = partial 'post', :collection => @posts
      - if @posts.empty?
        %h3
          No se encontró nada para esta fecha
          %small
            (por ahora).
.col-md-4
  = partial 'sidebar', :locals => {:tweets => @tweets, :bombarderos => @bombarderos}