%div.row
  %div.jumbotron
    %h3
      Contacto
    %hr
    %p
      ¿Dudas? ¿Sugerencias? Completá el formulario o escribinos a bomba@tiralabomba.com
      El formulario tiene que tener Dirección de correo (no se mostrará) y Mensaje.