%div.row
  %form{:role=>"form"}
    %textarea.form-control{:rows=>"3", :placeholder => "Descargate", :id => "dropit_input"}
    %span.text-muted{:id => "dropit_count"} 0
    %button{:type=>"submit", :class=>"btn btn-danger pull-right"} 
      %i.glyphicon.glyphicon-fire
      &nbsp;Boom !
%div.row
  %div.jumbotron.post-background
    %div.row.post
      %div.row
        %div.row
          %span.label.label-default.pull-right.post-time 
            Hace una hora
        %div.row
          Mi jefe me tiene las bolas por el suelo. No puedo mas con este reverendo hijo de su putisima madre.
          Mi jefe me tiene las bolas por el suelo. No puedo mas con este reverendo hijo de su putisima madre.
          Mi jefe me tiene las bolas por el suelo. No puedo mas con este reverendo hijo de su putisima madre.
        %div.row.voting
          .col-md-6{:style => "text-align:left;padding-top:7px"}
            %i.glyphicon.glyphicon-fire.vote-0
            %i.glyphicon.glyphicon-fire.vote-1
            %i.glyphicon.glyphicon-fire.vote-2
            %i.glyphicon.glyphicon-fire.vote-3
            %i.glyphicon.glyphicon-fire.vote-4
          .col-md-5.social-icons{:style => "text-align:right"}
            %i.fa.fa-facebook-square
            %i.fa.fa-twitter-square
            %i.fa.fa-google-plus-square
            %i.fa.fa-envelope
        %div.separator
          %hr
      %div.row
        %div.row
          %span.label.label-default.pull-right.post-time 
            Hace una hora
        %div.row
          Mi jefe me tiene las bolas por el suelo. No puedo mas con este reverendo hijo de su putisima madre.
          Mi jefe me tiene las bolas por el suelo. No puedo mas con este reverendo hijo de su putisima madre.
          Mi jefe me tiene las bolas por el suelo. No puedo mas con este reverendo hijo de su putisima madre.
          %div.row.separator
            %i.glyphicon.glyphicon-fire{:style => "display:inline;"}
            %i.glyphicon.glyphicon-fire{:style => "display:inline;"}
            %i.glyphicon.glyphicon-fire{:style => "display:inline;"}

