%div.row
  %div.jumbotron
    %h3
      Privacidad
    %hr
    %p
      %strong
        Tiralabomba.com 
      no te pide nombre de usuario ni contrase침a. No guarda, adem치s, tus datos de navegaci칩n. 
      En Tiralabomba.com tu privacidad es nuestra obligaci칩n.