%div.row
  %div.jumbotron
    %h3
      Privacidad
    %hr
    %p
      %strong
        Tiralabomba.com 
      no te pide nombre de usuario, ni e-mail, ni contraseña. No guarda, además, tus datos de navegación. 
      En Tiralabomba.com tu privacidad es nuestra obligación. El objetivo del sitio es que puedas publicar información de manera anoníma para que no tengas que preocuparte por terminar revelando tu identidad como en la mayoría de las redes sociales.
    %br
    %br
    %p
      %strong
        Pregunta, 
      ¿el sitio me pidió saber mi ubicación hay algún problema con mi identidad si digo que sí?
      %br
      %br
      Para nada, nosotros no guardamos tus datos específicos, simplemente guardamos el barrio o ciudad desde donde se originó el post. Si creés que en tu caso no es seguro, podés responder que no cuando el sitio te pregunte para no revelar esa información.

