%div.row
  %div.jumbotron
    %h3
      Términos y Condiciones
    %hr
    %p
      1. Al acceder a Tiralabomba.com, el Usuario expresa su acuerdo con los Términos y condiciones. La aceptación es un acuerdo respecto al uso del sitio. Si no está de acuerdo con cualquiera de estos Términos y condiciones, por favor, no utilice este sitio.
    %p
      2. Los presentes Términos y condiciones se aplican a todos los usuarios del sitio.
    %p
      3. Tiralabomba.com se reserva el derecho a modificar cualquier aspecto de Tiralabomba.com en cualquier momento.
    %p
      4. El Usuario se compromete a cumplir con los términos y condiciones y todas las leyes locales, nacionales y reglamentos internacionales.
    %p
      5. El Usuario se compromete a utilizar un lenguaje respetuoso y no ofensivo con terceros.
    %p
      6. El Usuario se compromete a no interferir en la seguridad de Tiralabomba.com.
    %p
      7. No se permite la promoción o publicidad de productos, servicios, programas de afiliados o webs, en el caso de que contengan publicidad o tengan fines comerciales.
    %p
      8. El uso de Tiralabomba.com como medio para ataques o spam a cualquier tipo de servicio no está permitido.
    %p
      9. El administrador y moderadores de Tiralabomba.com tienen el derecho a borrar, editar, mover o cerrar cualquier contenido que pueda ser considerado inapropiado por Tiralabomba.com.
    %p
      10. No son admisibles amenazas, insultos graves o cualquier otro tipo de comentario que pueda herir la sensibilidad del destinatario. 
    %p
      11. Los contenidos de Tiralabomba.com, incluyendo diseños, aplicaciones, texto, imágenes, cómics y código fuente (“Contenido”), están protegidos por derechos de propiedad intelectual.
    %p
      12. Los contenidos no se podrán utilizar, reproducir, copiar o transmitir en forma alguna por un tercero sin el permiso previo, escrito y explícito de Tiralabomba.com. 
    %p
      13. Tiralabomba.com no se responsabiliza de las opiniones emitidas por los autores de contenidos, respuestas y comentarios.
    %p
      14. Tiralabomba.com puede contener enlaces a sitios web de terceros que no son propiedad o no son controladas por Tiralabomba.com, quien carece de control y no asume ninguna responsabilidad por el contenido, políticas de privacidad o prácticas de los sitios web de terceros. 
    %p
      15. Tiralabomba.com expresamente excluye a Tiralabomba.com de toda y cualquier responsabilidad que surja del uso de cualquier sitio web de terceros.
    %p
      16. Tiralabomba.com no permite las actividades infractoras de los derechos de autor en Tiralabomba.com, y Tiralabomba.com tiene la potestad de borrar todos los contenidos y envíos de usuario que infrinjan estos derechos. 
    %p
      17. Tiralabomba.com se reserva el derecho de eliminar contenidos sin previo aviso, en caso de que existan dudas acerca del cumplimiento de las presentes condiciones de uso.