%div.row
  %div.jumbotron
    %h3
      Quienes Somos
    %hr
    %p
      Somos la red social de la libertad. El espacio para decir lo que sientas, sin restricciones de tiempo, espacio o identidad. Queremos que lo hagas explotar.
    %p
      Director: John Sebastian - john.sebastian@tiralabomba.com